.loading-book
  img src="loaders/default.svg"
  center
    p.mt-3 Carregando seu Livro

p= @reader.pages[13].number
/ center
#book
  .cover

h6= @reader.pages.count
/ p= @reader.page(100)
/ p= 	@reader.objects.inspect
/ p= @reader.pages.last.text

javascript:
	$(window).ready(function(){
    let numberOfPages = parseInt("#{@reader.pages.count}");

    book = new Book(numberOfPages)

		$('#book').turn({
			acceleration: true,
			pages: numberOfPages,
			elevation: 50,
			gradients: !$.isTouch,
			when: {
				turning: function(e, page, view) {
				// Gets the range of pages that the book needs right now
				var range = $(this).turn('range', page);
				// Check if each page is within the book
				for (page = range[0]; page<=range[1]; page++)
					book.addPage(page, $(this));
				},
				turned: function(e, page) {
					$('#page-number').val(page);
				}
			}
		})

		$('#number-pages').html(numberOfPages)

		$('#page-number').keydown(function(e){
			if (e.keyCode==13) {
				$('#book').turn('page', $('#page-number').val())
      }
		})
	})

	$(window).bind('keydown', function(e){
		if (e.target && e.target.tagName.toLowerCase()!='input') {
			if (e.keyCode==37){
				$('#book').turn('previous')
      }
			else if (e.keyCode==39){
				$('#book').turn('next')
      }
    }
	})

css:
	body{
		background: url('backgrounds/table.svg');
	}
  #book .cover{
    background: url("#{ url_for(Book.first.cover.url) }");
    background-size: cover;
    background-size: 100% 100%;
  }
