div style="margin-top: 7em; display: flex; justify-content: center; align-items: center"
	div style="display: flex; flex-direction: column; justify-content: center; align-items: center"
		div#avatarPreview style="width: 15em; height: 15em"
			object#body type="image/svg+xml"
			object#hair type="image/svg+xml"
			object#head-accessory type="image/svg+xml"
			object#eyes.default type="image/svg+xml"
			object#face-accessory type="image/svg+xml"
			object#nose type="image/svg+xml"
			object#mouth type="image/svg+xml"
			object#facial-hair type="image/svg+xml"
			object#clothing type="image/svg+xml"
		div#avatar-pieces-selector-board style="width: 30em; margin-top: 1em;"

javascript:
	$(document).ready(function() {
		loadDefault()
		loadPreviewOptions()
		$(".selectable-option-container").unbind("click").click(function(){
			switch($(this).data("piece")){
				case 'bodies':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#body",
						"bodies"
					)

				case 'eyes':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#eyes",
						"eyes"
					)

				case 'nose':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#nose",
						"nose"
					)

				case 'mouth':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#mouth",
						"mouth"
					)

				case 'facial-hair':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#facial-hair",
						"facial-hair"
					)

				case 'face-accessories':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#face-accessory",
						"face-accessories"
					)

				case 'head-accessories':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#head-accessory",
						"head-accessories"
					)

				case 'hair':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#hair",
						"hair"
					)

				case 'clothing':
					return handlePieceSelection(
						$(this).children('object').attr("id"),
						"object#clothing",
						"clothing"
					)

				default:
					return console.log("Erro")
			}
		})
	})

	const handlePieceSelection = (selected, elSelector, piece) => {
		console.log("HERE")
		$(elSelector).removeClass()
		$(elSelector).attr('data', `/assets/images/avatar/${piece}/${selected}.svg`)
		$(elSelector).addClass(`${selected}`)
	}

	const loadDefault = () => {
		$("object#body").attr('data', '/assets/images/avatar/bodies/white.svg')
		$("object#eyes").attr('data', '/assets/images/avatar/eyes/default.svg')
		// $("object#face-accessory").attr('data', '/assets/images/avatar/face-accessories/glasses-01.svg')
		// $("object#nose").attr('data', '/assets/images/avatar/nose/default.svg')
		// $("object#mouth").attr('data', '/assets/images/avatar/mouth/default.svg')
		// $("object#hair").attr('data', '/assets/images/avatar/hair/short/01.svg')
		// $("object#head-acessory").attr('data', '/assets/images/avatar/head-accessories/hat.svg')
		// $("object#clothing").attr('data', '/assets/images/avatar/clothing/t-shirt.svg')
		// $("object#facial-hair").attr('data', '/assets/images/avatar/facial-hair/beard-short.svg')
	}

	const loadPreviewOptions = () => {
		const bodies = ['black', 'dark-brown', 'white', 'pale', 'yellow']
		const eyes = ['angry', 'closed', 'cry', 'default', 'dizzy', 'happy', 'tired', 'wink']
		const nose = ['default', 'pointy', 'rounded']
		const mouth = ['conserned-teeth', 'conserned', 'default', 'default-big', 'grimace', 'kiss', 'sad', 'serious', 'smile-teeth', 'smile', 'surprise', 'tonge', 'twinkle']
		const faceAccessories = ['glasses-01', 'glasses-02', 'glasses-03']
		const headAccessories = ['cap', 'hat', 'hijab', 'turban', 'winter-cap']
		const facialHair = ['beard-short', 'beard-medium', 'beard-long', 'beard-large', 'beard-huge', 'moustache-chevron', 'moustache-handlebar', 'moustache-horseshoe']
		const hair = ['short/01', 'short/02', 'short/03', 'short/04', 'short/05', 'short/06', 'short/07', 'short/08', 'short/09', 'short/10', 'short/11', 'short/12', 'short/13', 'long/01', 'long/02', 'long/03', 'long/04', 'long/05', 'long/06', 'long/07', 'long/08', 'long/09', 'long/10', 'long/11', 'long/12', 'long/13']
		const clothing = ['t-shirt', 't-shirt-v-neck', 't-shirt-crew-neck', 'sweater', 'shirt', 'turtleneck', 'hoodie']

		selectorList(bodies, 'bodies')
		selectorList(eyes, 'eyes')
		selectorList(nose, 'nose')
		selectorList(mouth, 'mouth')
		selectorList(facialHair, 'facial-hair')
		selectorList(faceAccessories, 'face-accessories')
		selectorList(headAccessories, 'head-accessories')
		selectorList(hair, 'hair')
		selectorList(clothing, 'clothing')
	}

	const selectorList = (selectableData, pieceName, withColors) => {
		const selectorId = `${pieceName}`

		// if(withColors) {
		// 	const colors = {white: '#FFFFFF', black: '#000000', blue: '#2384F5', yellow: '#FFCA00', green: '#80C43B', red: '#FB344F', pink: '#FF64C8', purple: '#AE0BFF', gray: '#DBDBE6', brown: '#9B5921', light_blue: '#9BC5FF', light_yellow: '#FFEA99', light_green: '#C2E3A1', light_red: '#FD9DAA', light_pink: '#FFC1E9', light_purple: '#E5B1FF', light_gray: '#F5F5F8', dark_blue: '#000066', dark_brown: '#6A2405', dark_gray: '#9292B3', golden: '#FFCA00', blonde: '#FFDC78'}

		// 	$("#avatar-pieces-selector-board").append(`<center><div class='selectable-color' id='${selectorId}-color-selector'></div></center>`)

		// 	$(`#${selectorId}-color-selector`).append(
		// 		Object.keys(colors).map((key, index) => {
		// 			return(`<div class='selectable-color-option' style='background: ${colors[key]}'></div>`)
		// 		}).join(' ')
		// 	)
		// }

		$("#avatar-pieces-selector-board").append(`<center><div class='selectable-options' id='${selectorId}-selector'></div></center>`)

		$(`#${selectorId}-selector`).append(
			selectableData.map(selectableItem => {
				return(`<div data-piece=${pieceName} class='selectable-option-container'><object id=${selectableItem} class='selectable-option ${pieceName}-selectable-item' data="/assets/images/avatar/${pieceName}/${selectableItem}.svg" type="image/svg+xml"></object></div>`)
			}).join(' ')
		)
	}

css:
	#avatar-pieces-selector-board {
		height: 30em;
		overflow-y: scroll;
	}
	.selectable-options {
		width: 100%;
		margin: 0 0 1em 0;
		display: grid;
		grid-template-columns: auto auto auto;
	}
	.selectable-option {
		width: 70px;
	}
	.selectable-option-container {
		margin-bottom: .5em;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #F2F2F2;
		border-radius: 10px;
		width: 8em;
		height: 5em;
	}
	.selectable-color {
		width: 100%;
		margin: 0 0 1em 0;
  	overflow: auto;
  	white-space: nowrap;
	}
	.selectable-color-option {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		display: inline-block;
	}
	::-webkit-scrollbar {
	  width: 0px;
	  background: transparent;
	}

	object#body{
		width: 15em;
		position: absolute;
		z-index: 0;
	}
	object#eyes.default, object#eyes.angry, object#eyes.closed, object#eyes.cry, 
	object#eyes.dizzy, object#eyes.happy, object#eyes.tired, object#eyes.wink {
		width: 5em;
		top: 11em;
		position: absolute;
		z-index: 9;
	}
	object#nose.default, object#nose.pointy, object#nose.rounded {
		width: 1.5em;
		top: 11em;
		position: absolute;
		z-index: 9;
	}
	object#mouth.default, object#mouth.conserned, object#mouth.conserned-teeth,
	object#mouth.default-big, object#mouth.grimace, object#mouth.kiss,
	object#mouth.sad, object#mouth.serious, object#mouth.smile-teeth,
	object#mouth.smile, object#mouth.surprise, object#mouth.tonge,
	object#mouth.twinkle {
		width: 3em;
		top: 13.5em;
		position: absolute;
		z-index: 9;
	}
	object#hair{
		width: 16.25em;
		top: 4em;
		position: absolute;
		z-index: 9;
	}
	/* Clothing	*/
	object#clothing{
		position: absolute;
		z-index: 9;
	}
	object#clothing.t-shirt{
		width: 15.1em;
		top: 16.59em;
	}
	object#clothing.t-shirt-v-neck{
		width: 15.1em;
		top: 16.7em;
	}
	object#clothing.t-shirt-crew-neck{
		width: 15.1em;
		top: 16.9em;
	}
	object#clothing.sweater{
		width: 15.1em;
		top: 16.59em;
	}
	object#clothing.shirt{
		width: 15em;
		top: 15.95em;
	}
	object#clothing.turtleneck{
		width: 15em;
		top: 15.45em;
	}
	object#clothing.hoodie{
		width: 15em;
		top: 15.45em;
	}
	/* Facial Hair */
	object#facial-hair{
		position: absolute;
		z-index: 10;
	}
	object#facial-hair.beard-short, object#facial-hair.beard-medium,
	object#facial-hair.beard-long, object#facial-hair.beard-large {
		width: 7em;
		top: 12.3em;
	}
	object#facial-hair.beard-huge {
		width: 8em;
		top: 12.3em;
	}
	object#facial-hair.moustache-handlebar,
	object#facial-hair.moustache-horseshoe {
		width: 3em;
		top: 13.2em;
	}
	object#facial-hair.moustache-chevron {
		width: 2em;
		top: 13.2em;
	}
	/* Face Accessory */
	object#face-accessory{
		position: absolute;
		z-index: 10;
	}
	object#face-accessory.glasses-01 {
		width: 6.5em;
		top: 10.2em;
	}
	object#face-accessory.glasses-02 {
		width: 6.5em;
		top: 10.6em;
	}
	object#face-accessory.glasses-03 {
		width: 7em;
		top: 10.4em;	
	}
	/* Head Accessory */
	object#head-accessory{
		position: absolute;
		z-index: 11;
	}
	object#head-accessory.cap{
		width: 17em;
		top: 3.6em;
	}
	object#head-accessory.winter-cap{
		width: 17em;
		top: 3.67em;
	}
	object#head-accessory.turban{
		width: 17em;
		top: 3.67em;
	}
	object#head-accessory.hijab{
		width: 17em;
		top: 3.67em;
	}
	object#head-accessory.hat{
		width: 16.25em;
		top: 4em;
	}
	#avatarPreview{
		background: lightblue;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}