@import "bootstrap";

body{
	background-color: #f2f2f2;
	padding-top: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
select{-webkit-appearance:none;margin:0;}
select,option{padding: 0.8% 2% 0.8% 2%;border:none;border-radius:10px;
color:rgb(153, 153, 153);background-color:#f2f2f2;font-family:sans-serif;    
-webkit-appearance:none;-moz-appearance:none;text-indent:1px;text-overflow:'';}

.navbar{
	background-color: black;
}

.navbar-brand, .navbar-brand:hover {
	color: white;
	text-decoration: none;
}

.navbar-add-book, .navbar-add-book:hover {
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	margin-right: 50%;
}

.navbar-signout, .navbar-signout:hover {
	color: white;
	font-size: 1.5em;	
	text-decoration: none;
}

.navbar-item, .navbar-item:hover {
	color: white;
	text-decoration: none;	
}