.button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  background: #000000;
  transition: .5s;
}

.button:hover {
  background: #333333;
}

.circle-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.white-button {
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #000000;
}

.white-button:hover {
  color: #000000;
  background: #F9F9F9;
}

.outline-white-button {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
}

.outline-white-button:hover {
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.gray-button {
  color: #000000;
  background: #F9F9F9;
  border: none;
}

.gray-button:hover {
  color: #000000;
  background: #F2F2F2;
  border: none;
}

.blurred-button {
  color: #000000;
  backdrop-filter: blur(2px);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,.07);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

.blurred-button:hover {
  background: rgba(255, 255, 255, 0.7); 
}

.admin-button {
  color: #000000;
  background: #808080;
}

.admin-button:hover {
  background: #A9A9A9;
}

.close-button {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='lightgray' viewBox='0 0 30 30' width='90px' height='90px'%3E%3Cpath d='M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16.414,15 c0,0,3.139,3.139,3.293,3.293c0.391,0.391,0.391,1.024,0,1.414c-0.391,0.391-1.024,0.391-1.414,0C18.139,19.554,15,16.414,15,16.414 s-3.139,3.139-3.293,3.293c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.024,0-1.414C10.446,18.139,13.586,15,13.586,15 s-3.139-3.139-3.293-3.293c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0C11.861,10.446,15,13.586,15,13.586 s3.139-3.139,3.293-3.293c0.391-0.391,1.024-0.391,1.414,0c0.391,0.391,0.391,1.024,0,1.414C19.554,11.861,16.414,15,16.414,15z'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
}

.close-button:hover {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 30 30' width='90px' height='90px'%3E%3Cpath d='M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16.414,15 c0,0,3.139,3.139,3.293,3.293c0.391,0.391,0.391,1.024,0,1.414c-0.391,0.391-1.024,0.391-1.414,0C18.139,19.554,15,16.414,15,16.414 s-3.139,3.139-3.293,3.293c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.024,0-1.414C10.446,18.139,13.586,15,13.586,15 s-3.139-3.139-3.293-3.293c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0C11.861,10.446,15,13.586,15,13.586 s3.139-3.139,3.293-3.293c0.391-0.391,1.024-0.391,1.414,0c0.391,0.391,0.391,1.024,0,1.414C19.554,11.861,16.414,15,16.414,15z'/%3E%3C/svg%3E");
  cursor: pointer;
}