@import url("https://use.typekit.net/pfm5khx.css");

$system-shadow: 5px 5px 18px -3px rgba(199,199,199,.5);
$system-shadow-hover: 5px 5px 18px -3px rgba(199,199,199,.1);
$share-icon-size: 3em;

body {
  background: #F9F9F9;
}

a {
  text-decoration: none !important;
}

section {
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  padding: 2% 0;
  margin: 0;
}

.system-shadow {
  box-shadow: 5px 5px 18px -3px rgba(199,199,199,.5);
  -webkit-box-shadow: 5px 5px 18px -3px rgba(199,199,199,.5);
  -moz-box-shadow: 5px 5px 18px -3px rgba(199,199,199,.5);
}

.system-shadow-light {
  box-shadow: 5px 5px 18px -3px rgba(199,199,199,.1);
  -webkit-box-shadow: 5px 5px 18px -3px rgba(199,199,199,.1);
  -moz-box-shadow: 5px 5px 18px -3px rgba(199,199,199,.1);
}

.system-shadow-hover:hover{
  cursor: pointer;
  box-shadow: 5px 5px 18px -3px rgba(199,199,199,.1);
  -webkit-box-shadow: 5px 5px 18px -3px rgba(199,199,199,.1);
  -moz-box-shadow: 5px 5px 18px -3px rgba(199,199,199,.1);
}

.with-badge {
  position: relative;
}

.with-badge[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: -10px;
   right: -15px;
   font-size: .7em;
   background: red;
   color: white;
   width: auto;
   padding: 0 1em;
   height: 1.8em;
   text-align: center;
   line-height: 1.8em;
   border-radius: 20px;
   box-shadow: 0 0 1px #333;
   z-index: 9;
}

.social-share-button .ssb-icon {
  background-size: $share-icon-size $share-icon-size !important;
  height: $share-icon-size !important;
  width: $share-icon-size !important;
  margin: 0 .5em;
  border-radius: 50%;
}

.modal {
  backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  -o-backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: transparent;
}

.blurred-modal-content {
  backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, .7);
  border-radius: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.invert {
  filter: invert(1);
  mix-blend-mode: difference;
}
