body {
  background: #f9f9f9
}
/* Section */
section {
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  padding: 2% 0;
  margin: 0;
}
.section-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1%;
  height: 65px;
}
.section-header div {
  height: 65px;
}
.section-title, .section-description {
  margin: 0;
}
.section-title {
  color: #474A4D;
  font-weight: bold;
}
.section-description {
  color: #5A6169;
}
.section-see-more {
  line-height: 65px;
  color: #0067F4;
}
