/! Footer
footer.page-footer.font-small.black.pt-4

  /! Copyright
/! Footer

css:
  footer{
    background-color: black;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 5%;
    height: 30px;
    width: 100%;
  }
